{% extends 'base.html' %}

{% block title %}{{ block.super }} - Password Change{% endblock title %}

{% block content %}

<main role="main">
    <!-- Header -->
    <header class="padding-3x background-image text-center" style="background-color: #228B22">

    </header>

    <!-- Forgot Password Form -->

    <section>
        <div class="line">
            <div class="margin padding-2x">
                <div class="s-12 m-10 l-8 center background-grey padding">
                    <div>
                        <p class="text-dark">Password Changed</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>

{% endblock %}