{% extends 'base.html' %}

{% block title %}{{ block.super }} - Password Change{% endblock title %}

{% block content %}

<main role="main">
    <!-- Header -->
    <header class="padding-3x background-image text-center" style="background-color: #228B22">

    </header>

    <!-- Forgot Password Form -->

    <section>
        <div class="line">
            <div class="margin padding-2x">
                <div class="s-12 m-10 l-8 center background-grey padding">
                    <h3 class="text-size-20 margin-bottom-40 text-center"><b>Change Password</b></h3>
                    <form action="{% url 'password_change' %}" method="post">
                        {% csrf_token %}
                        <table class="text-dark">
                            {{ form.as_table }}
                            <tr>
                                <td></td>
                                <td><input class="button border-radius text-white background-primary" type="submit" value="Submit"></td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </section>

</main>

{% endblock %}