{% extends "base.html" %}

{% block title %}{{ block.super }} - Sing Up{% endblock title %}

{% block css %}

{% endblock css %}

{% block content %}

<main role="main">
    <!-- Header -->
    <header class="padding-3x background-image text-center" style="background-color: #228B22">

    </header>

    <section class="padding-2x background-white">
        <div class="line text-center">
            <h2 class="text-dark text-size-50 text-m-size-40">Registation</h2>
        </div>
    </section>

    <!-- Authentication Form -->

    <section>
        <div class="line">
            <div class="margin padding-2x">
                <div class="s-12 m-10 l-8 center background-grey padding">
                    <h3 class="text-size-30 margin-bottom-40 text-center"><b>Sing Up Form</b></h3>
                    <form class="customform" method="post" enctype="multipart/form-data" action="{% url 'signup' %}">{% csrf_token %}
                        <div class="line">
                            <div class="margin">
                                <table class="background-grey">
                                    <tr>
                                        <td class="fieldWrapper">
                                            {{ form.username.errors }}
                                            {{ form.username.label_tag }} {{ form.username }}
                                        </td>
                                        <td class="fieldWrapper">
                                            {{ form.email.errors }}
                                            {{ form.email.label_tag }} {{ form.email }}
                                         </td>
                                    </tr>
                                     <tr>
                                        <td class="fieldWrapper">
                                            {{ form.password.errors }}
                                            {{ form.password.label_tag }} {{ form.password }}
                                        </td>
                                        <td class="fieldWrapper">
                                            <label for="id_password1">Password Confirmation: </label>
                                            <input class="required" name="password_confirm" id="id_password1" type="password"/>
                                        </td>
                                     </tr>
                                    <tr>
                                        <td colspan="2">
                                            <span class="text-error" id="password_error"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="fieldWrapper">
                                            {{ form.first_name.errors }}
                                            {{ form.first_name.label_tag }} {{ form.first_name }}
                                        </td>
                                        <td class="fieldWrapper">
                                            {{ form.last_name.errors }}
                                            {{ form.last_name.label_tag }} {{ form.last_name }}
                                        </td>
                                    </tr>
                                    <!--<tr>
                                        <td class="fieldWrapper">
                                            {{ form.codice_utente.errors }}
                                            {{ form.codice_utente.label_tag }} {{ form.codice_utente }}
                                        </td>
                                        <td class="fieldWrapper">
                                            {{ form.citta.errors }}
                                            {{ form.citta.label_tag }} {{ form.citta }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="fieldWrapper">
                                            {{ form.cap.errors }}
                                            {{ form.cap.label_tag }} {{ form.cap }}
                                        </td>
                                        <td class="fieldWrapper">
                                            {{ form.via.errors }}
                                            {{ form.via.label_tag }} {{ form.via }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="fieldWrapper">
                                            {{ form.tipologia.errors }}
                                            {{ form.tipologia.label_tag }} {{ form.tipologia }}
                                        </td>
                                        <td class="fieldWrapper">
                                            {{ form.n_componenti.errors }}
                                            {{ form.n_componenti.label_tag }} {{ form.n_componenti }}
                                        </td>
                                    </tr>-->
                                </table>
                            </div>
                        </div>
                        <div class="text-error margin-bottom-20">
                            The fields in red are required.
                        </div>
                        <div class="line">
                             <div class="s-6 center"><button class="button border-radius text-white background-primary" type="submit" value="login">Sing Up</button></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

</main>

{% endblock content %}

{% block js %}

<script type="text/javascript">
    $(document).ready(function(){
        $('#id_password1').focusout(function(){
            var pass = $('#id_password').val();
            var pass2 = $('#id_password1').val();
            if(pass != pass2){
                $('#password_error').text("The passowrd didn't match");
            } else {
                $('#password_error').text("");
            }

        });
    });
</script>

{% endblock js %}