{% extends "base.html" %}
{% load static %}

{% block title %}{{ block.super }} - Dati{% endblock title %}

{% block css %}

{% endblock css %}

{% block content %}

<main role="main">
    <!-- Header -->
    <header class="section-top-padding background-image text-center" style="background-image:url({% static 'rewind/img/img2.jpg' %})">
        <h1 class="text-middle text-white text-s-size-30 text-m-size-40 text-size-50 text-line-height-1 margin-bottom-40 margin-top-130">
            Test Title
        </h1>

        <!-- white full width arrow object -->
        <img class="arrow-object" src="{% static 'rewind/img/arrow-object-white.svg' %}" alt="">
    </header>

    <section class="padding-2x background-white">
        <div class="line text-center">
            <h2 class="text-dark text-size-50 text-m-size-40">Dati</h2>
        </div>
    </section>


    <section>
        <table class="background-grey">
            <tr>
                <td>Cod. Cassonetto</td>
                <td>Quantita</td>
                <td>Qualita</td>
            </tr>
            {% if not lista %}
               <h1>Ancora nessuna persona inserita</h1>
            {% else %}
                {% for dato in lista %}
                   <tr>
                       <td>dato.idcestino</td>
                       <td>dato.quantita</td>
                       <td>dato.qualita</td>
                   </tr>
                {% endfor %}
            {% endif %}
        </table>
    </section>

</main>

{% endblock content %}

{% block js %}

{% endblock js %}