{% extends "base.html" %}

{% block title %}{{ block.super }} - Login{% endblock title %}

{% block css %}

{% endblock css %}

{% block content %}

<main role="main">
    <!-- Header -->
    <header class="padding-3x background-image text-center" style="background-color: #CE1B12">

    </header>

    <section class="padding-2x background-white">
        <div class="line text-center">
            <h2 class="text-dark text-size-50 text-m-size-40">Authentication</h2>
        </div>
    </section>

    <!-- Punti raccolti -->

    <section>

        <a href="#">Torna alla home</a>

        <h3> Totale: Punti Raccolti</h3>

        <h3> Proiezione punti </h3>

        <h3> Acquisti effettuati: </h3>

    </section>

</main>

{% endblock content %}

{% block js %}

{% endblock js %}